<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @driver.fname %> <%= @driver.lname %>
</p>
<p>
	<b>ID:</b>
	<%= @driver.id %>
</p>
<p>
	<b>Vehicles:</b>
	<% @driver.vehicles.each do |vehicle| %>
		<%= link_to vehicle.vehicle_name, vehicle %><br>
	<% end %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Delete', @driver, confirm: 'Are you sure?', method: :delete %> | 
<%= link_to 'Back', drivers_path %> 
