<div class="field">
	<%= v.label :plate %><br />
	<%= v.text_field :plate %>
</div>
<div class="field">
	<%= v.label :vin %><br />
	<%= v.text_field :vin %>
</div>
<div class="field">
	<%= v.label :milage %><br />
	<%= v.text_field :milage %>
</div>
<div class="field">
	<%= v.label :status %><br />
	<%= v.select :status, [['Active', 'Active'],['Loaner', 'Loaner'],['Sold', 'Sold'],['Inactive', 'Inactive'],['Wrecked', 'Wrecked']] %>
</div>
<div class="field">
	<%= v.label :driver_id %><br />
	<%= select("vehicle", "driver_id", Driver.all.collect {|d| [d.full_name, d.id] }) %>
</div>
<div class="actions">
	<%= v.submit %>
</div>
