<div class="field">
	<%= v.label :year %><br />
	<%= v.text_field :year %>
</div>
<div class="field">
	<%= v.label :make %><br />
	<%= v.text_field :make %>
</div>
<div class="field">
	<%= v.label :model %><br />
	<%= v.text_field :model %>
</div>