<div class="field">
	<%= v.label :year %>
	<%= v.text_field :year %>
</div>
<div class="field">
	<%= v.label :make %>
	<%= v.text_field :make %>
</div>
<div class="field">
	<%= v.label :model %>
	<%= v.text_field :model %>
</div>