<h1 id="">Vehicles home</h1>
<h2><%= link_to "Enter New Vehicle", new_vehicle_path %></h2>

<%= form_tag vehicles_path, method: 'get', id: "vehicles_search"  do %>

	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", name: nil %>
	</p>
	<div id="vehicles"><%= render 'vehicles' %></div>
<% end %>
